
input {
  width: 225px;
  border: 3px solid rgb(167, 12, 12);
  padding: 20px;
  margin: 0 0 40px 0;
}





button {
  width: 150px;
  padding: 15px 2px;
  background: linear-gradient(to right, #3de014 0%, #860606 100%);
  border-radius:20px;
  border: 2px solid rgb(0, 0, 0);
  margin-top: 10px;
  color: rgb(241, 238, 236);
 

}

.imagenfondo{
 height: 140vh;
 background-image: url(images/fondo.jpg);
 background-color: #611111;
 background-repeat: no-repeat;
 background-size: cover;  
}










